<div style="float:right;width: 300px; margin-right: 100px; margin-top: 300px">	
<% form_for(@conduit || :conduit, :url => conduits_path ) do |form| %>
	<%= form.error_messages %>
	<%= form.text_field :key %>
	<%= form.text_field :url, :value => "http://www.google.com" %>
	<%= form.submit "create new conduit" %>
<% end %>
</div>